{% extends 'base.html' %}

{% block title %}{{ contest.title }}{% endblock title %}

{% block content %}
<div class="container py-5">
    <div class="py-3">
        <ul class="nav nav-tabs">
            <li class="nav-item p-2 pb-0">
                <a class="nav-link link-dark" href="{% url 'contest' contest.pk %}">정보</a>
            </li>
            <li class="nav-item p-2 pb-0">
                <a class="nav-link link-dark" href="{% url 'contest_problemset' contest.pk %}">문제</a>
            </li>
            <li class="nav-item p-2 pb-0">
                <a class="nav-link link-dark" href="{% url 'contest_submit' contest.pk %}">제출</a>
            </li>
            <li class="nav-item p-2 pb-0">
                <a class="nav-link link-dark" href="{% url 'contest_status' contest.pk %}">채점 현황</a>
            </li>
            <li class="nav-item p-2 pb-0">
                <a class="nav-link link-dark" href="{% url 'contest_mystatus' contest.pk %}">내 제출</a>
            </li>
            <li class="nav-item p-2 pb-0">
                <a class="nav-link active" aria-current="page" href="#">스코어보드</a>
            </li>
        </ul>
    </div>
    
    <div class="py-3">
        <div class="table-responsive">
            <table class="table table-striped table-bordered align-middle small" style="table-layout:fixed;">
                <thead>
                    <tr>
                        <th style="text-align:center;width:4em">순위</th>
                        <th>아이디</th>
                        <th style="text-align:center;width:4em">=</th>
                        <th style="text-align:center;width:6em">패널티</th>
                        {% for alpha in alphastr %}
                        <th style="text-align:center;width:4em">{{ alpha }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for contestant_line in scoreboard %}
                    <tr>
                        <td style="text-align:center;">{{ contestant_line.rank }}</td>
                        <td>{{ contestant_line.username }}</td>
                        <td style="text-align:center;">
                        {% if contestant_line.solved_problem_count != 0 %}
                        {{ contestant_line.solved_problem_count }}
                        {% endif %}
                        </td>
                        <td style="text-align:center;">
                        {% if contestant_line.total_penalty|check_inf %}
                        {{ contestant_line.total_penalty|floatformat:"0" }}
                        {% endif %}
                        </td>
                        {% for problem in contestant_line.problems %}
                        <td class="{% if problem.solved %}table-success{% elif problem.try_count != 0 %}table-danger{% else %}{% endif %}" style="text-align:center;"><p class="my-0">{{ problem.try_count }}</p><p class="my-0">{{ problem.penalty|floatformat:"0" }}</p></td>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock content %}