{% extends 'base.html' %}

{% block title %}문제 목록 - {{ current_page }}페이지{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width:10%">번호</th>
                    <th style="width:90%">제목</th>
                </tr>
            </thead>
            <tbody>
                {% for problem in problems %}
                <tr>
                    <td>{{ problem.number }}</td>
                    <td>
                    {% if not problem.is_public %}
                    대회에 사용중인 문제입니다.
                    {% elif not problem.visible %}
                    비공개 문제입니다.
                    {% else %}
                    <a class="text-decoration-none" href="{% url 'problem' problem.number %}">{{ problem.title }}</a>
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <div class="text-center">
            <ul class="pagination justify-content-center">
                {% for i in page_count %}
                    {% ifequal current_page i %}
                    <li class="page-item active"><a class="page-link" href="{% url 'problemset' i %}">{{ i }}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="{% url 'problemset' i %}">{{ i }}</a></li>
                    {% endifequal %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}