{% extends 'problem/problem_base.html' %}

{% block title %}{{ problem.number }}번 제출{% endblock title %}

{% block problem_content %}
<div class="container py-5">

    <div class="py-3">
        <ul class="nav nav-tabs">
            <li class="nav-item p-2 pb-0">
                <a class="nav-link link-dark" href="{% url 'problem' problem.number %}">{{ problem.number }}번</a>
            </li>
            <li class="nav-item p-2 pb-0">
                <a class="nav-link active" aria-current="page" href="#">제출</a>
            </li>
            <li class="nav-item p-2 pb-0">
                <a class="nav-link link-dark" href="{% url 'problem_rank' problem.number %}">랭킹</a>
            </li>
            <li class="nav-item p-2 pb-0">
                <a class="nav-link link-dark" href="{% url 'problem_status' problem.number %}">채점 현황</a>
            </li>
            <li class="nav-item p-2 pb-0">
                <a class="nav-link link-dark" href="{% url 'problem_mystatus' problem.number %}">내 제출</a>
            </li>
        </ul>
    </div>
    
    <h1 class="border-bottom pb-2">{{ problem.title }}</h1>
    {% load crispy_forms_tags %}
    <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <textarea class="codemirror-textarea" name="code"></textarea>
    <script>
        var target = document.querySelector(".codemirror-textarea");
        var editor = CodeMirror.fromTextArea(target, {
            lineNumbers : true,
            theme : "darcula",
        })

        document.querySelector("#id_language").addEventListener("change", (e)=>{
            let extension = ['cpp', 'cpp', 'cpp', 'cpp', 'c', 'c', 'c', 'py', 'py', 'java', 'java', 'py', 'py', 'cs', 'js'];
            changeLanguage(extension[e.target.value]);
        })
        
        function changeLanguage(language){
            var info = CodeMirror.findModeByExtension(language);
            if(info){
                mode = info.mode;
                spec = info.mime;
            }

            if(mode) {
                editor.setOption("mode", spec);
                CodeMirror.autoLoadMode(editor, mode);
            }
        }

        window.onload = function() {
            changeLanguage("cpp")
        }
    </script>
    <button class="btn btn-primary mt-3" type="submit">제출</button>
    </form>
{% endblock problem_content %}